<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cheesy Life</title>
        <link rel="icon" href="../static/images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/styles/style1.css">
    </head>


    <body style="margin: 0px; padding: 0px;">
        <header>
            <div class="header-content">
                <div class="logo-container">
                    <img src="../static/images/favicon.png" alt="Header Image">
                    <h1>Cheesy Life</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="types.html">Cheese Types</a></li>
                        <li><a href="recipes.html">Recipes</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <section class="filter-section">
                <h2>Texture</h2>
                <ul class="filter-list">
                    <li><input type="checkbox" id="texture-soft"><label for="texture-soft">Soft</label></li>
                    <li><input type="checkbox" id="texture-semi-soft"><label for="texture-semi-soft">Semi-Soft</label></li>
                    <li><input type="checkbox" id="texture-hard"><label for="texture-hard">Hard</label></li>
                </ul>
            </section>
        </main>


        <footer>
            <p>Contact us: fakeemail@noemail.com +21260000000<br>
            00, No Street, Casablanca, Morocco</p>
        </footer>
    </body>
</html>