<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cheesy Life</title>
        <link rel="icon" href="../static/images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/styles/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <style>
            text-about {
                font-family: 'Roboto', sans-serif;
                font-size: 16px; /* Set the font size */
                line-height: 1.6; /* Set the line height for better readability */
                color: #333; /* Set the text color */
                margin-bottom: 20px; /* Add some space below each paragraph */
            }
            h2 {
                color: rgb(8, 120, 200);
            }
        </style>
        
    </head>


    <body style="margin: 0px; padding: 0px;">
        <header>
            <div class="header-content">
                <div class="logo-container">
                    <img src="../static/images/favicon.png" alt="Header Image">
                    <h1>Cheesy Life</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/types">Cheese Types</a></li>
                        <li><a href="/recipes">Recipes</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main style="margin-inline-start: 50px;">
            <h2>Our purpose</h2>
            <p class="text-about">This is a portfolio project in the curriculum of the ALX foundations course. <br>
                As lovers of cheese, we created this website to serve useful and cool information about cheese, all kinds of cheese! <br>
                The website Cheesy Life provides information about cheese, all you need to know about it, 
                nutritional facts, types and origin, recipes and much more.</p>


            <h2>Authors</h2>
            <p>Malika Oubilla <a href="https://www.linkedin.com/in/malika-oubilla-1dot618/">Linkedin</a>
                <a href="https://github.com/MO1-dot-618">Github</a>
            </p>
            <p>Reda Cherkaoui <a href="https://www.linkedin.com/in/reda-cherkaoui-644a97154/">Linkedin</a>
            <a href="https://github.com/RedarsHubi">Github</a>
            </p>

            <h2>Project code source</h2>
            <a href="https://github.com/MO1-dot-618/cheesy-life">Code source</a>
            
        </main>

    </body>
</html>