<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cheesy Life</title>
        <link rel="icon" href="../static/images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/styles/style1.css">
    </head>


    <body style="margin: 0px; padding: 0px;">
        <header>
            <div class="header-content">
                <div class="logo-container">
                    <img src="../static/images/favicon.png" alt="Header Image">
                    <h1>Cheesy Life</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/types">Cheese Types</a></li>
                        <li><a href="/recipes">Recipes</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            {% if cheese %}
                <div class="cheese-item">
                    <img src="{{ cheese.picture_url }}" alt="{{ cheese.name }}">
                    <h2>{{ cheese.name }}</h2>
                    <p><strong>Texture:</strong> {{ cheese.texture }}</p>
                    <p><strong>Source:</strong> {{ cheese.source }}</p>
                    <p><strong>Color:</strong> {{ cheese.color }}</p>
                    <p><strong>Price:</strong> {{ cheese.price }}</p>
                    <p><strong>Country:</strong> {{ cheese.country }}</p>
                    <p class="description"><strong>Description:</strong> {{ cheese.description }}</p>
                </div>
            {% endif %}
        </main>


        <footer>
            <p>Life is better with cheese!</p>
        </footer>
    </body>
</html>