<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cheesy Life</title>
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/style1.css">
    <link rel="stylesheet" href="../static/styles/recipe.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
</head>
<body style="margin: 0px; padding: 0px;">
    <header>
        <div class="header-content">
            <div class="logo-container">
                <img src="../static/images/favicon.png" alt="Header Image">
                <h1>Cheesy Life</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/types">Cheese Types</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="recipes-section">
            <h2>Cheese Recipes</h2>
            <div class="recipe-container">
                <div class="recipe-item">
                    <h3>{{ recipe.recipe_name }}</h3>
                    <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
                    <p><strong>Directions:</strong> {{ recipe.directions }}</p>
                    <p><strong>Nutrition Facts:</strong> {{ recipe.nutrition_facts }}</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Life is better with cheese!</p>
    </footer>
</body>
</html>
